[Unit]
Description=Greengrass Credentials Updater
After=multi-user.target
 
[Service]
Type=oneshot
ExecStart=/bin/sh -c 'docker-compose -f /docker-compose-credentials-setup.yml up'
ExecStop=/bin/sh -c 'docker-compose -f /docker-compose-credentials-setup.yml stop'
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
