[Unit]
Description=Greengrass Credentials Updater
After=multi-user.target
ConditionFileNotEmpty=!/greengrass/config/config.disable
 
[Service]
Type=oneshot
ExecStart=/bin/sh -c 'docker-compose -f /etc/docker-compose/docker-compose-credentials-setup.yml up -d'
ExecStop=/bin/sh -c 'docker-compose -f /etc/docker-compose/docker-compose-credentials-setup.yml stop'
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
