[Unit]
Description=Greengrass Credentials Updater
After=multi-user.target docker.socket
ConditionFileNotEmpty=!/greengrass/config/config.disable
 
[Service]
Type=oneshot
# Try to automatically update the containers on startup
ExecStartPre=-/bin/sh -c 'docker-compose -f /etc/docker-compose/docker-compose-credentials-setup.yml pull'
# Since it's oneshot, run as daemon
ExecStart=/bin/sh -c 'docker-compose -f /etc/docker-compose/docker-compose-credentials-setup.yml up -d'
ExecStop=/bin/sh -c 'docker-compose -f /etc/docker-compose/docker-compose-credentials-setup.yml stop'
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
