[Unit]
Description=Greengrass Core Software
After=multi-user.target
ConditionFileNotEmpty=/greengrass/config/config.done
 
[Service]
Type=oneshot
ExecStart=/bin/sh -c '/greengrass/ggc/core/greengrassd start'
ExecStop=/bin/sh -c '/greengrass/ggc/core/greengrassd stop'
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target