[Unit]
Description=Local UI docker image for the AWS Pasta Demo
After=multi-user.target docker.socket

[Service]
Type=oneshot
# Try to automatically update the containers on startup
ExecStartPre=-/bin/sh -c 'docker pull torizonextras/pasta-demo-inference'
ExecStart=/bin/sh -c 'docker run --rm -d --name=inference -v /dev/galcore:/dev/galcore -v /run/udev/:/run/udev/ -v /sys:/sys -v /dev:/dev -v /tmp:/tmp --network host --privileged torizonextras/pasta-demo-inference'
ExecStop=/bin/sh -c 'docker stop inference'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
